/*"Variables" de Css*/
:root {
    --primario: #ea009c;
    --primarioOscuro: #82105c;
    --secundario: #ffce00;
    --secundarioOscuro: rgb(233,287,2);
    --blanco: #fff;
    --negro: #000;

    --fuentePrincipal: 'Staatliches', cursive;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: var(--fuentePrincipal);
}